@import url('https://fonts.googleapis.com/css2? family=Roboto:wght@900&display=swap');
body {
    background-image: url('/photo-1615457670617-6b32cc6720a0.jfif');
}
    
.c1 {
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 70px;
    font-family: 'Roboto', sans-serif;
}
.p1 {
    color: rgb(180, 180, 180);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
nav {
    display: flex;
   align-items: center;
}
nav ul {
    flex: 1;
    text-align: right;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 20px;
}
nav ul li a {
    font-family: 'Noto Sans', sans-serif;
    text-decoration: none;
    color: rgb(190, 187, 179);
    font-size:  15px;
}
.c1{
    display: flex;
    align-items: center;
    justify-content: center;
}
#btn {
    background-color: rgb(60, 27, 248);
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 40px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}
.p2 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: rgb(243, 243, 243);
    background-position: center;

}
#btn1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(60, 27, 248);
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 40px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    left: 500px;
}
.btn2 {
}
.pp{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}